/* You can add global styles to this file, and also import other style files */

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@font-face{
	font-family: 'Montserrat';
	src: url( 'assets/Montserrat/Montserrat-Regular.ttf'), url('assets/Montserrat/Montserrat-Bold.ttf')
}


*{
	font-family: 'Montserrat';
}
:root{
	--primary-color :  #CE0030;
	--secondary-color: #757575;
	--tertiary-color: #F4F4F4;
	--sidebar-color: #C8C8C8;
	--alternative-sidebar-color: rgb(146, 146, 146);
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}


.btn{
	outline: none !important;
	box-shadow: none !important;
	border-color: transparent !important;
	
}

.btn:hover , .btn:focus, .btn-primary{
	background: var(--primary-color) !important;
	border-radius: 20px;
	font-size: .8rem;
}


.btn:active, .btn-primary:active{
	border-color: var(--primary-color) !important;
	background-color: var(--tertiary-color) !important;
	color: var(--primary-color) !important;
}

input,select{
	border: 0 !important;
	border-bottom: 1px solid var(--sidebar-color) !important;
	border-radius: 0 !important;
	padding-bottom: 15px !important;
	outline: none !important;
	box-shadow: none !important;
	font-size: small !important;
	font-weight: 700 !important;
}

select{
	padding: 0 5px !important;
	
}

a, a:hover{
	text-decoration: none;
	color: var(--primary-color);
}

i{
	color: var(--primary-color);
}

.error{
	color: var(--primary-color);
	padding: 5px;
}

.loader {
	border: 1px solid transparent; /*ight grey */
	border-top: 1px solid var(--tertiary-color); /* Blue */
	border-right: 1px solid var(--tertiary-color); /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
}

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }