<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 pl-0 pr-0 ">
			<app-mainsidebar></app-mainsidebar>
		</div>
		<div class="col-md-4 pl-5 pr-5 pt-5 border-right h-100" >
			<div style="display: flex; justify-content: space-between;">
				<h3 class="font-weight-bold">
					Request Delivery
				</h3>

				<span style=" padding: 9px 13px; border-radius: 5px; box-shadow: 0px 0px 10px var(--secondary-color)">
					<i class="fa fa-chevron-left" aria-hidden="true" style="color: var(--primary-color);"></i>
				</span>
			</div>
			<div class="mt-5">
				<div style="width: 70px; height: 70px; float: left; background: var(--secondary-color); border-radius: 10px;"class="mr-3" ></div>
				<p class="pt-2 font-weight-bold">
					James Scarlet <br>
					<small>
						<span>
							<i class="fa fa-star" aria-hidden="true"></i>
						</span>	
					 	4.5
					</small>
				</p>
			</div> 
			<div class="mt-5 mb-5">
				<p class="float-left">
					$600-800$
					<br>
					<small>
						5 min
					</small>
				</p>

				<p class="float-right">
					<span><i class="fas fa-wallet    "></i></span>
					Cash
					<span>
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
					</span>
					<br>
					<small style="background: green; padding: 2px 10px; border-radius: 10px; color: #fff;">
						Active promo
					</small>
				</p>
			</div>

			<div class="text-center pt-5" >
				<button type="button" name="" id="" class="btn btn-primary btn-lg px-5 pt-3 pb-3 mt-5" style="color: #fff;">Request-Delivery</button>
			</div>
		</div>
		<div class="col-md-5">
			<div>
				<app-navigation></app-navigation>
			</div>
			<div>
			</div>
		</div>
	</div>
</div>