<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 pl-0 pr-0 ">
			<app-mainsidebar></app-mainsidebar>
		</div>
		
		<div class="col-md-9 pl-0 pr-0" style="background: var(--tertiary-color); height: 100vh;">
			<div>
				<app-navigation></app-navigation>
			</div>
			<div class="mt-5">
				<h2 class="text-center font-weight-bold">Payment </h2>
			</div>
			<div class="mt-5 pt-2">
				<h5 class="text-center font-weight-bold">Payment Method </h5>
			</div>
			<div class="mt-5 pt-4 pb-2 bg-white mx-auto pl-5 pr-5" style="display: flex; justify-content: space-between; width: 50%; max-width: 80%; border-radius: 20px;">
				<p>
					<span class="mr-3">
						<i class="fas fa-wallet    "></i>
					</span> Cash</p>
				<span>
					<i class="fa fa-check-circle" aria-hidden="true"></i>
				</span>
			</div>

			<div class="mt-5 pt-4 pb-2 bg-white mx-auto pl-5 pr-5" style="display: flex; justify-content: space-between; width: 50%; max-width: 80%; border-radius: 20px;">
				<p>
					<span class="mr-3">
						<i class="fas fa-plus    "></i>
					</span> 
					Add Your Card
				</p>
				<span>
					<i class="fas fa-greater-than    "></i>
				</span>
			</div>
		</div>
	</div>
</div>