<div class="container-fluid text-center px-auto pickdropauthsidebar mx-0 pt-5 pb-5">
	<div class="row">
		<div class="col-12 mx-0">
			<img src="../assets/pickdrop-logo.png" width="50%" alt="pickfrop logo" srcset="" class="mb-5 mt-5">

			<div class="mt-5 pt-5 mx-5">	
				<h2 class="mt-5 mb-5">Welcome Back!</h2>

				<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block mb-3 mt-5 pt-3 pb-3" [routerLink]="['/customersignup']" >
					Sign Up as a Customer
				</button>

				<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block mb-5 pt-3 pb-3" [routerLink]="['/ridersignup']" routerLinkActive="router-link-active" >
					Sign Up as a Rider
				</button>

				<p class="mb-5 mt-5">
					Already have an account <br>
					<a [routerLink]="['/signin']">Sign in </a>
				</p>	
			</div>
		</div>
	</div>
	
	
</div>
