i{
	font-size: 15px;
	color: var(--sidebar-color);
}
p{
	color: var(--sidebar-color);
}
.card{
	border: none;
}
.card i{
	font-size: 40px;
	color: var(--primary-color);
	margin: 10px;
	
}
.qrcode, .qrcode i{
	font-size: small;
	color: var(--primary-color);
}