<!-- <div class="container-fluid pt-0 pb-0 px-0">
	<div class="row">
		<div class="col-md-6 pr-5 pl-5 pt-5 text-center">

			<img src="../assets/pickdrop-logo.png" width="200px" alt="pickfrop logo" srcset="" class="mb-5 mt-5">

			<h1 class="pt-5 coming">Comming Soon </h1>
			<p>Our webisteis currently undergoing sheduled maintainace. we  should be back shortly. Thanks for your patience.</p>
			<div class="input-group mb-3 pt-5 mx-auto" style="width: 50%; max-width: 90%;">
				<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
				<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">Notify Us</span>
				</div>
			</div>
			<p class="pt-5">signup now to get early access</p>
			<div class="text-center" style="position: absolute; bottom: 0; margin: auto; width: 100%; padding: 10px;">
				<p >
					stay in touch : 
					<i class="fab fa-facebook" aria-hidden="true"></i>
					<i class="fab fa-twitter" aria-hidden="true"></i>
					<i class="fab fa-instagram  " aria-hidden="true"></i>
				</p>
			</div>
			
		</div>
		<div class="col-md-6 px-0 pt-0">
			<div class="image pt-0">
				<img src="../assets/bike.jpg" width="200px" alt="background" srcset="" class="mb-5 mt-5">
			</div>
		</div>
	</div>
</div> -->

<div class="container-fluid">
	<div class="row px-0">
		<div class="col-md-6 px-0">
			<div class="text-center">
				<img src="../assets/pickdrop-logo.png" width="200px" alt="pickfrop logo" srcset="" class="mb-5 mt-5">
			</div>
			<div class="pt-5 " >
				<h1 class="coming text-center">Coming Soon </h1>
				<p class="mx-auto" style="width: 450px; max-width: 70%;" >Our website currently undergoing sheduled maintainace. we  should be back shortly. Thanks for your patience.</p>
			</div>

			<div class=" pt-3 mx-auto "  style="width: 450px; max-width: 70%;">
				<div class="input-group ">
					<input type="text" class="form-control" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
					<span class="input-group-text" id="basic-addon2">Notify Us</span>
					</div>
				</div>
			</div>
			<div class="pt-3 text-center">
				<p>signup now to get early notification for our launch date </p>
			</div>
			<div class="text-center" style="position: absolute; bottom: 0; margin: auto; width: 100%; padding: 10px;">
				<p >
					stay in touch : 
					<i class="fab fa-facebook" aria-hidden="true"></i>
					<i class="fab fa-twitter" aria-hidden="true"></i>
					<i class="fab fa-instagram  " aria-hidden="true"></i>
				</p>
			</div>

		</div>
		<div class="col-md-6 px-0" >
			<div class="image" style="display: flex; justify-content: center; align-items: center;">
				<div>
					<p class="text-white px-3 text-center time">{{days}} <br> Days</p>
				</div>
				<div>
					<p class="text-white px-3 text-center time">{{hours}} <br> Hours</p>
				</div>
				<div>
					<p class="text-white px-3 text-center time">{{mins}} <br> Min</p>
				</div>
				<div>
					<p class="text-white px-3 text-center time">{{secs}} <br> Secs</p>
				</div>
			</div>
		</div>
	</div>
</div>