<div class="container-fluid pl-0">
	<div class="row">
		<div class="col-md-3">
			<app-authsidebar></app-authsidebar>
		</div>
		<div class="col-md-5 mt-5 mx-auto">
			<h2 class="mt-5 font-weight-bold text-center">
				Reset Password
			</h2>
			<form action="">
				<div class="form-group mt-5">
					<div class="input-group-prepend">
						<span>
							<i class="far fa-envelope" aria-hidden="true"></i>
						</span>
						<input type="email" class="form-control" name="email" id="" placeholder="Email">
					</div>
				</div>
				<div class="text-center mt-4">
					<button type="submit" name ="" id="" class="btn btn-primary btn-lg px-5 pt-3 pb-3">
						Reset Password
					</button>
				</div>
			</form>
			
		</div>
	</div>
</div>