<div class="container">
	<div class="row text-center">
		<div class="col-md-3 mx-auto pt-5">
			<img src="../assets/pickdrop-logo.png" width="85%" alt="pickfrop logo" srcset="" class="mb-5 mt-5">

			<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block mb-3 mt-5 pt-3 pb-3" [routerLink]="['/customersignup']">
				Sign Up as a Customer
			</button>

			<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block mb-5 pt-3 pb-3" [routerLink]="['/ridersignup']">
				Sign Up as a Rider
			</button>
			<p class="mb-5 mt-5">
				Already have an account <br>
				<a [routerLink]="['/signin']">Sign in </a>
			</p>
		</div>

	</div>

</div>